examples/selectDocsByStructuredQuery/exportJsonA-importJsonB/multilevel-json.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
    xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
    xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:marklogic="http://www.mulesoft.org/schema/mule/marklogic" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
    http://www.mulesoft.org/schema/mule/marklogic http://www.mulesoft.org/schema/mule/marklogic/current/mule-marklogic.xsd
    http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
    http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
    http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
    http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
    http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
    http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
    http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
    http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    
    <configuration-properties file="automation-credentials.properties"/>
    
    <marklogic:config name="MarkLogic_Config_output" doc:name="MarkLogic Config" doc:id="638aa014-c28c-4d44-8b56-31eb5d1c1a75" threadCount="3" configId="ML Config 1" batchSize="5" secondsBeforeFlush="5" jobName="test">
        <marklogic:connection hostname="${config.output-hostName}" username="${config.output-username}" password="${config.output-password}" port="8010" authenticationType="digest" connectionId="testconfig_output"/>
    </marklogic:config>
    <file:config name="File_Config" doc:name="File Config" doc:id="e1c40286-552b-4e68-9d80-70c783ee3ef8" >
        <file:connection workingDir="/temp/mule" />
    </file:config>
    <marklogic:config name="MarkLogic_Config_Input" doc:name="MarkLogic Config" doc:id="f3a84c05-e807-4a71-81f9-c1f180e17c1c" configId="testConfig-Input" threadCount="4" batchSize="100" secondsBeforeFlush="2" jobName="myJobName">
		<marklogic:connection hostname="${config.input-hostName}" port="8003" database="my-app-content" username="${config.input-username}" password="${config.input-password}" authenticationType="digest" connectionId="testConfig-Input" />
	</marklogic:config>
	<flow name="marklogicconnector20180618Flow1" doc:id="bdfe94a1-f2fb-485d-b91b-f8daf38449df" initialState="started">
        <scheduler doc:name="Scheduler" doc:id="74fd1f33-549b-4a5f-a9fd-0b79b9638198" >
            <scheduling-strategy >
                <fixed-frequency frequency="30000"/>
            </scheduling-strategy>
        </scheduler>
        <marklogic:select-docs-by-structured-query structuredQueryStrategy="RawStructuredQueryDefinition" fmt="XML" doc:name="Select docs by structured query" doc:id="d5861aff-b466-458d-92f7-8673cf10d3b4" config-ref="MarkLogic_Config_Input" optionsName="test">
			<reconnect />
			<marklogic:structured-query >                &lt;query xmlns=&quot;http://marklogic.com/appservices/search&quot;&gt;
                  &lt;document-query&gt;
                    &lt;uri&gt;/test/doc1.json&lt;/uri&gt;
                    &lt;uri&gt;/test/doc2.json&lt;/uri&gt;                    
                  &lt;/document-query&gt;
                &lt;/query&gt;</marklogic:structured-query>
		</marklogic:select-docs-by-structured-query>
		<batch:job jobName="marklogicconnector20180618Batch_Job" doc:id="dae3e921-54d8-4bd4-92ae-042bef0b65f4">
            <batch:process-records >
                <batch:step name="Batch_Step" doc:id="c22e08dd-751b-4d27-ab94-d751e2d1fb9b" acceptPolicy="ALL">
                    <ee:transform doc:name="Transform Message" doc:id="901a5753-baf3-4338-831c-9193a4a7ad89">
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{employeeWrap: {
	employee: {
		employeeNumber: payload.emp_no,
		hireDate: payload.hire_date,
		firstName: payload.name.first,
		lastName: payload.name.last,
		favoriteColor: payload.favorite_colors[0],
		birthDate: payload.birth_date,
		gender: payload.gender,
		extractedDateTime: now()
	}
  }
}]]></ee:set-payload>
                        </ee:message>
                    </ee:transform>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="f4f751f2-6a60-43ce-b235-5e90bbb66117" streaming="true">
						<foreach doc:name="For Each" doc:id="1a02f872-72f5-48f9-a24d-8a4f129649f5" >
							<ee:transform doc:name="Transform Message" doc:id="dca357a8-3626-4c14-87a8-48c628a8f5c2">
                                <ee:message>
                                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload.employeeWrap]]></ee:set-payload>
                                </ee:message>
                            </ee:transform>
                            <set-payload value="#[payload]" doc:name="Set Payload" doc:id="9e27fafb-2dbd-4bb4-aef5-fe8461dac2da" encoding="UTF-8" mimeType="text/json" />
							<marklogic:import-docs doc:name="Import docs" doc:id="1b65d9a3-5eb9-45ff-a212-7eb55de9b413" config-ref="MarkLogic_Config_output" basenameUri="#[payload.employee.employeeNumber]" outputUriPrefix="/marklogic-mulesoft-export/"/>
                        </foreach>
                    </batch:aggregator>
                </batch:step>
            </batch:process-records>
            <batch:on-complete>
                <file:write doc:name="Write" doc:id="e9d15c11-1e2f-499e-a4b0-ad16c7a6065e" config-ref="File_Config" path="marklogic_mule_out.txt"/>
            </batch:on-complete>
        </batch:job>
    </flow>
</mule>