project-fetchFile-flow.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
    xmlns:marklogic="http://www.mulesoft.org/schema/mule/marklogic"
    xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
    http://www.mulesoft.org/schema/mule/marklogic http://www.mulesoft.org/schema/mule/marklogic/current/mule-marklogic.xsd
    http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
    http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <marklogic:config name="MarkLogic_Config" doc:name="MarkLogic Config" doc:id="787ed86c-be5d-4d1e-b8d5-db768f814509" configId="testConfig-223efe" threadCount="3" batchSize="5" outputCollections="mulesoft-dmsdk-test" outputPermissions="xpl-content-read,read,xpl-content-write,update" outputQuality="1" format="json" outputUriPrefix="/mulesoft/" outputUriSuffix=".json" generateOutputUriBasename="false">
        <marklogic:connection hostname="***REMOVED***" username="mulesoft" password="***REMOVED***" port="8011" />
    </marklogic:config>
    <file:config name="File_Config" doc:name="File Config" doc:id="a92a7332-0064-44b8-a355-8dfe29c1ae9b" >
        <file:connection workingDir="/tmp/" />
    </file:config>
    <flow name="marklogicegressFlow" doc:id="3be03fb0-645b-4ae0-ac9d-e4171af94e84" >
        <scheduler doc:name="Scheduler" doc:id="66d6e4a2-d158-4f39-a73f-08bd755468fd" >
            <scheduling-strategy >
                <fixed-frequency frequency="10000"/>
            </scheduling-strategy>
        </scheduler>
        <marklogic:fetch-file doc:name="Fetch file" doc:id="4e143dc7-b491-469f-bd99-042ad154c29c" config-ref="MarkLogic_Config" whereMethod="Collections" where="mulesoft-dmsdk-test"/>
        <foreach doc:name="For Each" doc:id="be55b034-0b53-4fe5-aee0-5747d0f1b49d">
            <file:write doc:name="Write" doc:id="48204f01-5c7b-4513-b085-60890b837aa2" config-ref="File_Config" path="#[vars.counter ++ '.xml']"/>
        </foreach>
    </flow>
</mule>
