project-mysql-importDocs-batch-flow.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
    xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
    xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:marklogic="http://www.mulesoft.org/schema/mule/marklogic" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
    http://www.mulesoft.org/schema/mule/marklogic http://www.mulesoft.org/schema/mule/marklogic/current/mule-marklogic.xsd
    http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
    http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
    http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
    http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
    http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
    http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
    http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
    http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <marklogic:config name="MarkLogic_Config" doc:name="MarkLogic Config" doc:id="787ed86c-be5d-4d1e-b8d5-db768f814509" configId="testConfig-223efe" threadCount="3" batchSize="5" outputCollections="mulesoft-dmsdk-test-clay" outputPermissions="xpl-content-read,read,xpl-content-write,update" outputQuality="1" format="json" outputUriPrefix="/mulesoft/" outputUriSuffix=".json" generateOutputUriBasename="false">
        <marklogic:connection hostname="localhost" username="admin" password="password" port="8020" />
    </marklogic:config>
    <db:config name="Database_Config" doc:name="Database_Config" doc:id="e81f7b60-a562-4e53-afaa-bcf4e7769ed1" >
        <db:my-sql-connection host="localhost" port="3306" user="admin" password="password" database="employees" >
            <db:column-types />
        </db:my-sql-connection>
    </db:config>
    <file:config name="File_Config" doc:name="File Config" doc:id="940e2b10-0c27-49f2-8695-65ea0cdbf474" >
        <file:connection workingDir="/tmp" />
    </file:config>
    <flow name="marklogicconnector20180618Flow1" doc:id="52e50d2e-ea57-4f04-a62a-78777e15b6eb" initialState="started">
        <scheduler doc:name="Scheduler" doc:id="00d19361-fcb8-4508-a79c-f5500b582b86" >
            <scheduling-strategy >
                <fixed-frequency frequency="30000"/>
            </scheduling-strategy>
        </scheduler>
        <db:select doc:name="Select" doc:id="6dbbaf05-2fab-478b-8fe9-206581576415" config-ref="Database_Config" fetchSize="5" maxRows="5">
            <ee:repeatable-file-store-iterable />
            <db:sql >select * from employees;</db:sql>
        </db:select>
        <batch:job jobName="marklogicconnector20180618Batch_Job" doc:id="e9b80c82-cde4-4b3c-966f-c53f1d06378a">
            <batch:process-records >
                <batch:step name="Batch_Step" doc:id="e9f398fd-38fb-4db3-a6e1-7895313119f1" acceptPolicy="ALL">
                    <ee:transform doc:name="Transform Message" doc:id="c25c94e7-cee4-46f8-b51b-29b3e3f0acb8">
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{employeeWrap: {
	employee: {
		employeeNumber: payload.emp_no,
		hireDate: payload.hire_date,
		firstName: payload.first_name,
		lastName: payload.last_name,
		birthDate: payload.birth_date,
		gender: payload.gender,
		extractedDateTime: now()
	}
  }
}]]></ee:set-payload>
                        </ee:message>
                    </ee:transform>
                    <batch:aggregator doc:name="Batch Aggregator" doc:id="9428840e-7e21-4eaf-99dc-31e9e05f9d00" streaming="true">
                        <ee:transform doc:name="Transform Message" doc:id="5741e306-e4dd-48e2-a5cd-8fbf26c97f38" >
                            <ee:message >
                                <ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.employeeWrap]]></ee:set-payload>
                            </ee:message>
                        </ee:transform>
                        <set-payload value="#[payload]" doc:name="Set Payload" doc:id="70779416-1194-46a2-8b5d-f71a40062e81" encoding="UTF-8" mimeType="text/json"/>
                        <marklogic:import-docs doc:name="Import docs" doc:id="0a05e5ab-def1-4be4-87da-1c274bd3aadb" config-ref="MarkLogic_Config" docPayloads="#[payload]" basenameUri="john.json"/>
                    </batch:aggregator>
                </batch:step>
            </batch:process-records>
            <batch:on-complete>
                <file:write doc:name="Write" doc:id="164e8cc4-eb02-4e3b-a547-3ac9dfb3311f" config-ref="File_Config" path="marklogic_mule_out.txt"/>
            </batch:on-complete>
        </batch:job>
    </flow>
</mule>