project-mysql-importDocs-flow.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:http="http://www.mulesoft.org/schema/mule/http"
    xmlns:file="http://www.mulesoft.org/schema/mule/file"
    xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:marklogic="http://www.mulesoft.org/schema/mule/marklogic" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
    http://www.mulesoft.org/schema/mule/marklogic http://www.mulesoft.org/schema/mule/marklogic/current/mule-marklogic.xsd
    http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
    http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
    http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
    http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
    http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">
    <db:config name="Database_Config" doc:name="Database Config" doc:id="e81f7b60-a562-4e53-afaa-bcf4e7769ed1" >
        <db:my-sql-connection host="localhost" port="3306" user="username" password="password" database="employees" />
    </db:config>
    <marklogic:config name="MarkLogic_Config" doc:name="MarkLogic Config" doc:id="787ed86c-be5d-4d1e-b8d5-db768f814509" configId="testConfig-223efe" threadCount="3" batchSize="5" outputCollections="mulesoft-dmsdk-test-clay" outputPermissions="xpl-content-read,read,xpl-content-write,update" outputQuality="1" format="json" outputUriPrefix="/mulesoft/" outputUriSuffix=".json" generateOutputUriBasename="false">
        <marklogic:connection hostname="localhost" username="username" password="password" port="8020" />
    </marklogic:config>
    <flow name="marklogicconnector20180618Flow1" doc:id="52e50d2e-ea57-4f04-a62a-78777e15b6eb" >
        <scheduler doc:name="Scheduler" doc:id="ebcba6cc-0785-4e0f-bc34-07dac72dd8cf" >
            <scheduling-strategy >
                <fixed-frequency frequency="10000"/>
            </scheduling-strategy>
        </scheduler>
        <try doc:name="Try" doc:id="4b6a701a-113a-417e-a3d3-9ae30527d34a" >
            <db:select doc:name="Select" doc:id="be9daa76-07b8-497d-bbfe-21bc583b0e8a" config-ref="Database_Config" fetchSize="10" maxRows="100">
                <db:sql >select * from employees;</db:sql>
            </db:select>
            <foreach doc:name="For Each" doc:id="418ad95a-3350-43d5-aa78-b4c5c26ffd95" >
                <ee:transform doc:name="Transform Message" doc:id="b344584f-322b-4974-bf14-651423c49f60">
                    <ee:message>
                        <ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{employeeWrap: {
	employee: using (myindex = vars.counter - 1) {
		empNo: vars.rootMessage.payload[myindex].emp_no,
		hireDate: vars.rootMessage.payload[myindex].hire_date,
		firstName: vars.rootMessage.payload[myindex].first_name,
		lastName: vars.rootMessage.payload[myindex].last_name,
		birthDate: vars.rootMessage.payload[myindex].birth_date,
		gender: vars.rootMessage.payload[myindex].gender,
		extractedDateTime: now()
	}
  }
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables >
                    </ee:variables>
                </ee:transform>
                <set-payload value="#[payload.employeeWrap]" doc:name="Set Payload" doc:id="b55de011-654a-4f4b-8f4d-b48489ea2e78" encoding="UTF-8" mimeType="text/plain"/>
                <marklogic:import-docs config-ref="MarkLogic_Config" docPayload="#[payload]" basenameUri="#[vars.counter + 10000]" />
            </foreach>
        </try>
    </flow>
</mule>