examples/selectDocsByStructuredQuery/text-doc/text-doc-flow.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
    xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
    xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:marklogic="http://www.mulesoft.org/schema/mule/marklogic" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
    http://www.mulesoft.org/schema/mule/marklogic http://www.mulesoft.org/schema/mule/marklogic/current/mule-marklogic.xsd
    http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
    http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
    http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
    http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
    http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
    http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
    http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
    http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <configuration-properties file="automation-credentials.properties"/>
    <marklogic:config name="MarkLogic_Config_output" doc:name="MarkLogic Config" doc:id="c3469fb9-c39f-4493-a719-30f6ec1a9881" threadCount="3" configId="ML Config 1" batchSize="5" secondsBeforeFlush="5" jobName="test">
        <marklogic:connection hostname="${config.output-hostName}" username="${config.output-username}" password="${config.output-password}" port="8010" authenticationType="digest" connectionId="testconfig_output"/>
    </marklogic:config>
    <file:config name="File_Config" doc:name="File Config" doc:id="1d018a52-50ab-4294-8d6e-d49c18df2c36" >
        <file:connection workingDir="/temp/mule" />
    </file:config>
    <marklogic:config name="MarkLogic_Config_Input" doc:name="MarkLogic Config" doc:id="0ce033fd-7bf6-4876-8fd5-35ca4591c29e" configId="testConfig-Input" threadCount="4" batchSize="100" secondsBeforeFlush="2" jobName="myJobName">
		<marklogic:connection hostname="${config.input-hostName}" port="8003" database="my-app-content" username="${config.input-username}" password="${config.input-password}" authenticationType="digest" connectionId="testConfig-Input" />
	</marklogic:config>
	<flow name="marklogicconnector20180618Flow1" doc:id="2c659e28-1c80-4f32-84b8-ccd7e20f885b" initialState="started">
        <scheduler doc:name="Scheduler" doc:id="3887604f-7296-4974-98a5-18366c735de7" >
            <scheduling-strategy >
                <fixed-frequency frequency="30000"/>
            </scheduling-strategy>
        </scheduler>
        <marklogic:select-docs queryStrategy="RawStructuredQueryDefinition" fmt="XML" doc:name="Select docs by structured query" doc:id="93da1160-93e0-4c6d-ab3a-195a6cf0260e" config-ref="MarkLogic_Config_Input" optionsName="test">
			<reconnect />
			<marklogic:query-string >                &lt;query xmlns=&quot;http://marklogic.com/appservices/search&quot;&gt;
                  &lt;document-query&gt;
                    &lt;uri&gt;/test/doc1.txt&lt;/uri&gt;
                    &lt;uri&gt;/test/doc2.txt&lt;/uri&gt;                    
                  &lt;/document-query&gt;
                &lt;/query&gt;</marklogic:query-string>
		</marklogic:select-docs>
		<batch:job jobName="marklogicconnector20180618Batch_Job" doc:id="ff704ade-092e-48d8-9ba6-b8034f141a49">
            <batch:process-records >
                <batch:step name="Batch_Step" doc:id="87731474-9d9f-403f-9229-fde8d520e857" acceptPolicy="ALL">
                    <ee:transform doc:name="Transform Message" doc:id="4b6b1a72-78ab-4e7e-9397-80b14fd8c282">
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{documentWrap: {
	document: payload
  }
}]]></ee:set-payload>
                        </ee:message>
                    </ee:transform>					
					<batch:aggregator doc:name="Batch Aggregator" doc:id="8d1a4745-7efb-4814-88de-3c875a50f248" streaming="true">
						<foreach doc:name="For Each" doc:id="b957cae2-00d3-419d-8216-9d62d9f7c302" >
							<ee:transform doc:name="Transform Message" doc:id="f39d8933-5858-448d-ba9f-eaac91630938">
                                <ee:message>
                                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload.documentWrap]]></ee:set-payload>
                                </ee:message>
                            </ee:transform>
                            <set-payload value="#[payload]" doc:name="Set Payload" doc:id="d9549170-f5c2-4224-8f4b-229de09462b1" encoding="UTF-8" mimeType="text/json" />							
							<marklogic:import-docs doc:name="Import docs" doc:id="5f677aa2-9c37-4616-b3b1-12a43de8fe81" config-ref="MarkLogic_Config_output" outputUriPrefix="/text-doc-import/"/>
                        </foreach>
                    </batch:aggregator>
                </batch:step>
            </batch:process-records>
            <batch:on-complete>
                <file:write doc:name="Write" doc:id="7dc7db8b-de15-4e8b-9fe3-3b3d4f9d4c10" config-ref="File_Config" path="marklogic_mule_out.txt"/>
            </batch:on-complete>
        </batch:job>
    </flow>
</mule>