examples/ssl/tls-flow.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
    xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
    xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:marklogic="http://www.mulesoft.org/schema/mule/marklogic" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
    http://www.mulesoft.org/schema/mule/marklogic http://www.mulesoft.org/schema/mule/marklogic/current/mule-marklogic.xsd
    http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
    http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
    http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
    http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
    http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
    http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
    http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
    http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <configuration-properties file="automation-credentials.properties"/>
    


<tls:context name="markLogicTestContext">
    <tls:trust-store path="keystore.jks" password="password"/>
		<tls:key-store type="jks" path="keystore.jks" alias="from-ml" keyPassword="password" password="password" />
 </tls:context>

    
    <marklogic:config name="MarkLogic_Config_output" doc:name="MarkLogic Config" doc:id="46686b0e-be91-4c2f-93ab-ba584b2849f1" threadCount="3" configId="ML Config 1" batchSize="5" secondsBeforeFlush="5" jobName="test">
        <marklogic:connection hostname="${config.output-hostName}" username="${config.output-username}" password="${config.output-password}" port="8010" authenticationType="digest" connectionId="testconfig_output"/>
    </marklogic:config>
    <file:config name="File_Config" doc:name="File Config" doc:id="10d859f8-c1e4-49a9-b3e8-3c9f7b333af1" >
        <file:connection workingDir="/temp/mule" />
    </file:config>
    <marklogic:config name="MarkLogic_Config_Input" doc:name="MarkLogic Config" doc:id="e07f058f-8fa1-42da-a516-e97ba5f0f4b7" configId="testConfig-Input" threadCount="4" batchSize="100" secondsBeforeFlush="2" jobName="myJobName">
		<marklogic:connection hostname="${config.input-hostName}" port="8003" database="my-app-content" username="${config.input-username}" password="${config.input-password}" authenticationType="digest" connectionId="testConfig-Input" tlsContext="markLogicTestContext"/>
	</marklogic:config>
	<flow name="marklogicconnector20180618Flow1" doc:id="126334af-5277-4a41-9810-4797a133d69a" initialState="started">
        <scheduler doc:name="Scheduler" doc:id="c1c49b77-0358-4eb0-a293-5e192049f080" >
            <scheduling-strategy >
                <fixed-frequency frequency="30000"/>
            </scheduling-strategy>
        </scheduler>
        <marklogic:query-docs queryStrategy="RawStructuredQueryDefinition" fmt="XML" doc:name="Select docs by structured query" doc:id="81264ebf-7bcb-4020-b77e-250e8640e848" config-ref="MarkLogic_Config_Input" optionsName="test">
			<reconnect />
			<marklogic:query-string >                &lt;query xmlns=&quot;http://marklogic.com/appservices/search&quot;&gt;
                  &lt;document-query&gt;
                    &lt;uri&gt;/test/doc1.txt&lt;/uri&gt;
                    &lt;uri&gt;/test/doc2.txt&lt;/uri&gt;                    
                  &lt;/document-query&gt;
                &lt;/query&gt;</marklogic:query-string>
		</marklogic:query-docs>
		<batch:job jobName="marklogicconnector20180618Batch_Job" doc:id="14d4b0a8-4382-45f1-a0d1-c5c98a79365e">
            <batch:process-records >
                <batch:step name="Batch_Step" doc:id="80a5fcb7-47c6-4fae-b746-b46341b85555" acceptPolicy="ALL">
                    <ee:transform doc:name="Transform Message" doc:id="1563de46-39b0-4d54-91e9-bacd51f18fc3">
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{documentWrap: {
	document: payload
  }
}]]></ee:set-payload>
                        </ee:message>
                    </ee:transform>					
					<batch:aggregator doc:name="Batch Aggregator" doc:id="eb57b2a3-5c3e-4411-9639-c6be46412f22" streaming="true">
						<foreach doc:name="For Each" doc:id="6fea9004-a643-4c65-ab5b-2262795eae8c" >
							<ee:transform doc:name="Transform Message" doc:id="73458b94-2d32-412f-a721-a3c7b0b1ff8f">
                                <ee:message>
                                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload.documentWrap]]></ee:set-payload>
                                </ee:message>
                            </ee:transform>
                            <set-payload value="#[payload]" doc:name="Set Payload" doc:id="e1aa7af0-af05-452a-98e1-251979c9b410" encoding="UTF-8" mimeType="text/json" />							
							<marklogic:import-docs doc:name="Import docs" doc:id="152d8125-c24a-4ce8-9de4-ef560e79b300" config-ref="MarkLogic_Config_output" outputUriPrefix="/text-doc-import/"/>
                        </foreach>
                    </batch:aggregator>
                </batch:step>
            </batch:process-records>
            <batch:on-complete>
                <file:write doc:name="Write" doc:id="d30f7c11-8aa1-4413-9b80-72b16872de62" config-ref="File_Config" path="marklogic_mule_out.txt"/>
            </batch:on-complete>
        </batch:job>
    </flow>
</mule>