examples/ssl/tls-flow.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
    xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
    xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:marklogic="http://www.mulesoft.org/schema/mule/marklogic" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
    http://www.mulesoft.org/schema/mule/marklogic http://www.mulesoft.org/schema/mule/marklogic/current/mule-marklogic.xsd
    http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
    http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
    http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
    http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
    http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
    http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
    http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
    http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <configuration-properties file="automation-credentials.properties"/>
    


<tls:context name="markLogicTestContext">
    <tls:trust-store path="keystore.jks" password="password"/>
		<tls:key-store type="jks" path="keystore.jks" alias="from-ml" keyPassword="password" password="password" />
 </tls:context>

    
    <marklogic:config name="MarkLogic_Config_output" doc:name="MarkLogic Config" doc:id="429ccb96-f26f-4039-84d7-e7c8419fb99f" threadCount="3" configId="ML Config 1" batchSize="5" secondsBeforeFlush="5" jobName="test">
        <marklogic:connection hostname="${config.output-hostName}" username="${config.output-username}" password="${config.output-password}" port="8010" authenticationType="digest" connectionId="testconfig_output"/>
    </marklogic:config>
    <file:config name="File_Config" doc:name="File Config" doc:id="1888e459-73a7-460b-9610-da397de0509d" >
        <file:connection workingDir="/temp/mule" />
    </file:config>
    <marklogic:config name="MarkLogic_Config_Input" doc:name="MarkLogic Config" doc:id="25ad5bba-054c-4453-b7dd-9ef6f66c746f" configId="testConfig-Input" threadCount="4" batchSize="100" secondsBeforeFlush="2" jobName="myJobName">
		<marklogic:connection hostname="${config.input-hostName}" port="8003" database="my-app-content" username="${config.input-username}" password="${config.input-password}" authenticationType="digest" connectionId="testConfig-Input" tlsContext="markLogicTestContext"/>
	</marklogic:config>
	<flow name="marklogicconnector20180618Flow1" doc:id="fa7190da-62e3-4d33-9ac0-8c920790dafe" initialState="started">
        <scheduler doc:name="Scheduler" doc:id="42e5500d-ac0c-42e9-b0c6-5e7f4088953f" >
            <scheduling-strategy >
                <fixed-frequency frequency="30000"/>
            </scheduling-strategy>
        </scheduler>
        <marklogic:select-docs-by-structured-query structuredQueryStrategy="RawStructuredQueryDefinition" fmt="XML" doc:name="Select docs by structured query" doc:id="412243d0-0334-4cad-a70e-abb44d4c6f21" config-ref="MarkLogic_Config_Input" optionsName="test">
			<reconnect />
			<marklogic:structured-query >                &lt;query xmlns=&quot;http://marklogic.com/appservices/search&quot;&gt;
                  &lt;document-query&gt;
                    &lt;uri&gt;/test/doc1.txt&lt;/uri&gt;
                    &lt;uri&gt;/test/doc2.txt&lt;/uri&gt;                    
                  &lt;/document-query&gt;
                &lt;/query&gt;</marklogic:structured-query>
		</marklogic:select-docs-by-structured-query>
		<batch:job jobName="marklogicconnector20180618Batch_Job" doc:id="d9c5b9ca-475a-463a-9191-688d90b77359">
            <batch:process-records >
                <batch:step name="Batch_Step" doc:id="f56cb66e-c5b4-4a0f-b91a-60e1a97d04cc" acceptPolicy="ALL">
                    <ee:transform doc:name="Transform Message" doc:id="b343c03f-e048-4398-a360-624cb5810a99">
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{documentWrap: {
	document: payload
  }
}]]></ee:set-payload>
                        </ee:message>
                    </ee:transform>					
					<batch:aggregator doc:name="Batch Aggregator" doc:id="f4ee5ff3-281d-4dc9-96fa-d4647237de0d" streaming="true">
						<foreach doc:name="For Each" doc:id="5fc1763a-3a20-49a9-8f57-028f2c4608fd" >
							<ee:transform doc:name="Transform Message" doc:id="b5e782e3-8ac6-41da-9871-d684132a7da7">
                                <ee:message>
                                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload.documentWrap]]></ee:set-payload>
                                </ee:message>
                            </ee:transform>
                            <set-payload value="#[payload]" doc:name="Set Payload" doc:id="e7605683-3c34-4564-aa3f-3d42465ee0eb" encoding="UTF-8" mimeType="text/json" />							
							<marklogic:import-docs doc:name="Import docs" doc:id="02c6e401-5dcc-4936-ba6c-3f8673a3d74e" config-ref="MarkLogic_Config_output" outputUriPrefix="/text-doc-import/"/>
                        </foreach>
                    </batch:aggregator>
                </batch:step>
            </batch:process-records>
            <batch:on-complete>
                <file:write doc:name="Write" doc:id="d28e15a0-beff-4ab9-9b96-29668b29aae2" config-ref="File_Config" path="marklogic_mule_out.txt"/>
            </batch:on-complete>
        </batch:job>
    </flow>
</mule>