src/test/studio-workspace/marklogicQuickstart/src/main/mule/writeTimestampsToDatabase.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:marklogic="http://www.mulesoft.org/schema/mule/marklogic"
      xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/marklogic http://www.mulesoft.org/schema/mule/marklogic/current/mule-marklogic.xsd
        http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">

  <marklogic:config name="marklogicConfig" configId="configId">
    <marklogic:connection
        host="localhost"
        port="8022"
        username="mule2-test-user"
        password="password"
        authenticationType="DIGEST"/>
  </marklogic:config>

  <flow name="writeTimestampDocument">
    <scheduler doc:name="Scheduler" doc:id="907d3d0b-ecc6-4d87-a364-3e6ef3829849">
      <scheduling-strategy>
        <fixed-frequency frequency="10" timeUnit="SECONDS"/>
      </scheduling-strategy>
    </scheduler>
    <marklogic:write-singledoc uri='#["/" ++ uuid() ++ ".json"]' content='#["{\"timestamp\": \"" ++ now() ++ "\" }"]'
                           config-ref="marklogicConfig"/>
  </flow>

</mule>
