src/test/resources/read-and-write-document.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:marklogic="http://www.mulesoft.org/schema/mule/marklogic"
      xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/marklogic http://www.mulesoft.org/schema/mule/marklogic/current/mule-marklogic.xsd
        http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">

  <marklogic:config name="config" configId="configId">
    <marklogic:connection
        host="localhost"
        port="8022"
        username="mule2-test-user"
        password="password"
        authenticationType="DIGEST"/>
  </marklogic:config>

  <flow name="read-and-write-document">
    <marklogic:export-documents config-ref="config">
      <marklogic:uris >
        <marklogic:uri value="/metadataSamples/json/hello.json" />
      </marklogic:uris>
    </marklogic:export-documents>
    <marklogic:write-documents config-ref="config" uriPrefix="/test/metadataSamples/json/hello.json" generateUUID="False"
                          permissions="rest-reader,read,rest-reader,update"/>
    <marklogic:read-documents config-ref="config" uris="#[['/test/metadataSamples/json/hello.json']]"/>
  </flow>

</mule>
