src/test/resources/read-and-write-document.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:basic="http://www.mulesoft.org/schema/mule/basic"
      xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/basic http://www.mulesoft.org/schema/mule/basic/current/mule-basic.xsd
        http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">

  <basic:config name="config" configId="configId">
    <basic:connection
      host="localhost"
      port="8022"
      username="mule2-test-user"
      password="password"
      authenticationType="DIGEST"/>
  </basic:config>

  <flow name="read-and-write-document">
    <basic:read-document config-ref="config" uri="/hello.json"/>
    <basic:write-document config-ref="config" uri='#["/test" ++ attributes.uri]'/>
    <basic:read-document config-ref="config" uri="/test/hello.json"/>
  </flow>

</mule>
