src/test/resources/read-and-write-document.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:marklogic="http://www.mulesoft.org/schema/mule/marklogic"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/marklogic http://www.mulesoft.org/schema/mule/marklogic/current/mule-marklogic.xsd">

  <configuration-properties file="connection.properties"/>

  <marklogic:config name="config">
    <marklogic:connection
        host="${config.hostName}"
        port="8022"
        username="${config.username}"
        password="${config.password}"
        authenticationType="DIGEST"/>
  </marklogic:config>

  <flow name="read-and-write-document">
    <marklogic:write-documents config-ref="config" uriPrefix="/test/metadataSamples/json/hello.json"
                               generateUUID="False" permissions="rest-reader,read,rest-reader,update">
      <marklogic:contents><![CDATA[#[java!test::Data::getJsonDoc()]]]></marklogic:contents>
    </marklogic:write-documents>
    <marklogic:read-documents config-ref="config" uris="#[['/test/metadataSamples/json/hello.json']]"/>
  </flow>
</mule>
