target/test-classes/test-mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:marklogic="http://www.mulesoft.org/schema/mule/marklogic" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/marklogic http://www.mulesoft.org/schema/mule/marklogic/current/mule-marklogic.xsd http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <marklogic:config name="config" configId="configId" threadCount="5" batchSize="3" outputUriPrefix="/mulesoft/" generateOutputUriBasename="false" outputUriSuffix=".json" outputCollections="mulesoft-dmsdk-test-clay,test" outputPermissions="xpl-content-read,read,xpl-content-write,update" outputQuality="2" format="json" handleType="StringHandle">
        <marklogic:connection hostname="localhost" username="admin" password="password" port="8020"/>
    </marklogic:config>
    <flow name="retrieveInfoFlow">
        <marklogic:retrieve-info config-ref="config"/>
    </flow>
    <flow name="importDocsFlow">
        <set-variable value='[0, null, false, "blah"]' doc:name="Set Variable" doc:id="b06f730d-5a83-44b2-af80-c989869bb03a" variableName="testWorkaround"/>
        <set-payload value="#[vars.testWorkaround]" doc:name="Set Payload" doc:id="93a0a5fb-9d53-4d60-be72-22fe7bc2eeab" />
        <marklogic:import-docs config-ref="config" docPayloads="#[payload]" basenameUri="test"/>
    </flow>
</mule>