examples/queryDocsByCTSQuery/text-doc/text-doc-flow.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
    xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
    xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:marklogic="http://www.mulesoft.org/schema/mule/marklogic" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
    http://www.mulesoft.org/schema/mule/marklogic http://www.mulesoft.org/schema/mule/marklogic/current/mule-marklogic.xsd
    http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
    http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
    http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
    http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
    http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
    http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
    http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
    http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <configuration-properties file="automation-credentials.properties"/>
    


<tls:context name="markLogicTestContext">
    <tls:trust-store path="keystore.jks" password="password"/>
		<tls:key-store type="jks" path="keystore.jks" alias="from-ml" keyPassword="password" password="password" />
 </tls:context>

    
    <marklogic:config name="MarkLogic_Config_output" doc:name="MarkLogic Config" doc:id="ea8a6ef8-bdb8-474c-b855-5193008a9393" threadCount="3" configId="ML Config 1" batchSize="5" secondsBeforeFlush="5" jobName="test">
        <marklogic:connection hostname="${config.output-hostName}" username="${config.output-username}" password="${config.output-password}" port="8010" authenticationType="digest" connectionId="testconfig_output"/>
    </marklogic:config>
    <file:config name="File_Config" doc:name="File Config" doc:id="5299cdb8-31dc-4eb9-9a34-3c3fd54376cd" >
        <file:connection workingDir="/temp/mule" />
    </file:config>
    <marklogic:config name="MarkLogic_Config_Input" doc:name="MarkLogic Config" doc:id="d46fceb4-fb9a-4da3-a162-8173b0611686" configId="testConfig-Input" threadCount="4" batchSize="100" secondsBeforeFlush="2" jobName="myJobName">
		<marklogic:connection hostname="${config.input-hostName}" port="8003" database="my-app-content" username="${config.input-username}" password="${config.input-password}" authenticationType="digest" connectionId="testConfig-Input" tlsContext="markLogicTestContext"/>
	</marklogic:config>
	<flow name="marklogicconnector20180618Flow1" doc:id="e52231e6-3554-412d-ba66-ce47de556779" initialState="started">
        <scheduler doc:name="Scheduler" doc:id="06623567-f2ee-4d29-baa8-c5553e29b85d" >
            <scheduling-strategy >
                <fixed-frequency frequency="30000"/>
            </scheduling-strategy>
        </scheduler>
        <marklogic:query-docs-by-structured-query queryStrategy="CTSQuery" fmt="XML" doc:name="Select docs by structured query" doc:id="54ed8d3c-861d-4ffb-ac33-66abb8f029c3" config-ref="MarkLogic_Config_Input">
			<reconnect />
			<marklogic:query-string >  &lt;cts:word-query xmlns:cts=&quot;http://marklogic.com/cts&quot;&gt;
    &lt;cts:text&gt;Hello&lt;/cts:text&gt;
  &lt;/cts:word-query&gt;</marklogic:query-string>
		</marklogic:query-docs-by-structured-query>
		<batch:job jobName="marklogicconnector20180618Batch_Job" doc:id="ed173563-8626-4ffa-bc7b-1eefc8824c4e">
            <batch:process-records >
                <batch:step name="Batch_Step" doc:id="2ecb6d1d-c69a-42a3-8762-e97176fdf475" acceptPolicy="ALL">
                    <ee:transform doc:name="Transform Message" doc:id="38966331-0570-4980-9e48-9e28f93d4255">
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{documentWrap: {
	document: payload
  }
}]]></ee:set-payload>
                        </ee:message>
                    </ee:transform>					
					<batch:aggregator doc:name="Batch Aggregator" doc:id="f7d67efe-efce-4587-9077-8ebbf9c63eb1" streaming="true">
						<foreach doc:name="For Each" doc:id="6a36f9aa-8077-4ca8-86aa-58a508ece672" >
							<ee:transform doc:name="Transform Message" doc:id="d06438c0-0fc4-4ad1-8087-a13be6cc4c58">
                                <ee:message>
                                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload.documentWrap]]></ee:set-payload>
                                </ee:message>
                            </ee:transform>
                            <set-payload value="#[payload]" doc:name="Set Payload" doc:id="afee947c-3e3e-4870-a4ff-388ab21c8b37" encoding="UTF-8" mimeType="text/json" />							
							<marklogic:import-docs doc:name="Import docs" doc:id="a8b9792e-63cf-4c15-a6e9-e3b98c39955a" config-ref="MarkLogic_Config_output" outputUriPrefix="/text-doc-import/"/>
                        </foreach>
                    </batch:aggregator>
                </batch:step>
            </batch:process-records>
            <batch:on-complete>
                <file:write doc:name="Write" doc:id="5028b27b-6d64-4709-88fb-676eeca0dd9e" config-ref="File_Config" path="marklogic_mule_out.txt"/>
            </batch:on-complete>
        </batch:job>
    </flow>
</mule>