examples/importDocs/non-batch/project-mysql-importDocs-flow.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:marklogic="http://www.mulesoft.org/schema/mule/marklogic"
    xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
    xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
    http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
    http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
    http://www.mulesoft.org/schema/mule/marklogic http://www.mulesoft.org/schema/mule/marklogic/current/mule-marklogic.xsd
    http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <db:config name="Database_Config" doc:name="Database Config" doc:id="597f55a7-efa1-4c7e-af48-b7cf9da5707c" >
        <db:my-sql-connection host="***REMOVED***" port="3306" user="mulesoft" password="***REMOVED***" database="employees" />
    </db:config>
    <marklogic:config name="MarkLogic_Config" doc:name="MarkLogic Config" doc:id="31ee9cb1-8eeb-4b2b-8c3e-7f138e2fd0a7" threadCount="3" batchSize="5" secondsBeforeFlush="2" jobName="import" configId="testConfig-223efe">
        <marklogic:connection hostname="***REMOVED***" username="mulesoft" password="***REMOVED***" port="8010" authenticationType="digest" connectionId="testConfig-223efe"/>
    </marklogic:config>
    <file:config name="File_Config" doc:name="File Config" doc:id="b7e95b75-492c-4f7f-9a2e-6bd13bc1739f" >
        <file:connection workingDir="/tmp/" />
    </file:config>
    <flow name="marklogicconnectornonbatchFlow" doc:id="153dfd12-959a-4015-998e-58256ec30a65" >
        <scheduler doc:name="Scheduler" doc:id="3a3d35e9-e090-437a-b7b7-7ed658e29e2a" >
            <scheduling-strategy >
                <fixed-frequency frequency="30000"/>
            </scheduling-strategy>
        </scheduler>
        <try doc:name="Try" doc:id="66a57184-186e-4937-b9e3-0baa7c0d71cc" >
            <db:select doc:name="SQL Select Employees" doc:id="7a462ee9-2cd0-44c2-af1b-10117bfc3fa3" config-ref="Database_Config" fetchSize="5" maxRows="500">
                <ee:repeatable-file-store-iterable />
                <db:sql >select * from employees;</db:sql>
            </db:select>
            <foreach doc:name="For Each" doc:id="4ce0ee15-e188-4017-949c-2d538b3548f2" >
                <ee:transform doc:name="Transform Message to XML" doc:id="53f82a37-fddc-4779-b8ef-5327fb27d5e9" >
                    <ee:message >
                        <ee:set-payload ><![CDATA[%dw 2.0
output text/xml
---
{
	employeeWrap: {
		employee: using (myindex = vars.counter - 1) {
			empNo: vars.rootMessage.payload[myindex].emp_no,
			hireDate: vars.rootMessage.payload[myindex].hire_date,
			firstName: vars.rootMessage.payload[myindex].first_name,
			lastName: vars.rootMessage.payload[myindex].last_name,
			birthDate: vars.rootMessage.payload[myindex].birth_date,
			gender: vars.rootMessage.payload[myindex].gender,
			extractedDateTime: now()
		}
	}
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
                <set-payload value="#[payload.employeeWrap]" doc:name="Set XML Payload" doc:id="79dee645-c830-48c8-bae9-a787bbe409d9" encoding="UTF-8" mimeType="text/xml"/>
                <marklogic:import-docs doc:name="Import XML doc to MarkLogic" doc:id="563cd048-4c75-49a7-9b1b-1da8adebb9c1" 
                    config-ref="MarkLogic_Config" docPayloads="#[payload]" 
                    outputCollections="mulesoft-dmsdk-test,mulesoft-dmsdk-test-xml"
                    outputQuality="2"
                    outputUriPrefix="/mulesoft/" outputUriSuffix=".xml"
                    basenameUri="null" 
                    generateOutputUriBasename="true"/>
            </foreach>
            <marklogic:get-job-report doc:name="Get DMSDK JobReport JSON" doc:id="8be11287-bb60-4821-9149-ab265f52aa9a" />
            <ee:transform doc:name="Transform Message" doc:id="9d887377-0f74-4a42-b966-8892423fabb4" >
                <ee:message >
                    <ee:set-payload ><![CDATA[%dw 2.0
output text/xml
---
{outcome: {
		message: payload, 
		jobID: payload.importResults.jobName, 
		time: now(), 
		uuid: uuid()
	}
}]]></ee:set-payload>
                </ee:message>
            </ee:transform>
            <file:write doc:name="Write MarkLogic JobReport" doc:id="0d3ba823-bfaf-4ce5-9c88-9a782b528ef3" config-ref="File_Config" path="#[payload.outcome.uuid ++ '.xml']"/>
        </try>
    </flow>
</mule>