src/test/munit/test-operation-hubFlowDetail.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:marklogic="http://www.mulesoft.org/schema/mule/marklogic" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:munit="http://www.mulesoft.org/schema/mule/munit" 
	xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="
                        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                        http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
                        http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd
                        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
                        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
                        http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd 
                        http://www.mulesoft.org/schema/mule/marklogic http://www.mulesoft.org/schema/mule/marklogic/current/mule-marklogic.xsd">
    <munit:config name="hubFlowDetail Suite" minMuleVersion="4.2.0" />
    <configuration-properties file="automation-credentials.properties"/>
    <marklogic:config name="DHFFlowDetail" configId="adf1" threadCount="4" batchSize="100" secondsBeforeFlush="2" jobName="jobadf1" >
        <marklogic:connection hostname="${config.hostNameDHF}" port="8010" username="${config.username}" password="${config.password}" authenticationType="digest" connectionId="df" marklogicConnectionType="DIRECT"/>
    </marklogic:config>
    <flow name="hubFlowDetailFlow">
        <marklogic:hub-flow-detail config-ref="DHFFlowDetail" flowName="Coastal"/>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0 output application/json --- payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <munit:test name="hubFlowDetailTest" description="hubFlowDetail Results">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="hubFlowDetailFlow"/>
        </munit:enable-flow-sources>
        <munit:execution>
            <flow-ref name="hubFlowDetailFlow"/>
        </munit:execution>
        <munit:validation>
            <munit-tools:assert-that expression="#[%dw 2.0 output application/json &#x002D;&#x002D;&#x002D; payload.name]" is="#[MunitTools::containsString('Coastal')]"/>
        </munit:validation>
    </munit:test>
</mule>