src/test/munit/test-operation-exportDocs.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:marklogic="http://www.mulesoft.org/schema/mule/marklogic" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
	xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xsi:schemaLocation="
                        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                        http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
                        http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd
                        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
                        http://www.mulesoft.org/schema/mule/marklogic http://www.mulesoft.org/schema/mule/marklogic/current/mule-marklogic.xsd">
    <munit:config name="exportDocs Suite" />
    <configuration-properties file="automation-credentials.properties"/>
    <marklogic:config name="exportDocsConfig" configId="exportDocsConfig" threadCount="4" batchSize="100" secondsBeforeFlush="2" jobName="exportDocsJob">
        <marklogic:connection connectionId="exportDocsConfig"  hostname="${config.hostName}" port="8010" username="${config.username}" password="${config.password}" authenticationType="digest" />
    </marklogic:config>
    <flow name="exportDocsFlow">
        <marklogic:export-docs config-ref="exportDocsConfig" queryStrategy="CTSQuery" maxResults="12" useConsistentSnapshot="true" fmt="XML">
            <marklogic:query-string>
                &lt;query xmlns=&quot;http://marklogic.com/appservices/search&quot;&gt;
                    &lt;collection-query&gt;
                        &lt;uri&gt;employees&lt;/uri&gt;
                    &lt;/collection-query&gt;
                &lt;/query&gt;
            </marklogic:query-string>
        </marklogic:export-docs>
        <set-payload value='#[%dw 2.0 output application/json &#x002D;&#x002D;&#x002D; payload]'/>
    </flow>
    <munit:test name="exportDocsCountMaxResultsTest" description="exportDocs Count Max Results">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="exportDocsFlow"/>
        </munit:enable-flow-sources>
        <!--<munit:behavior/>-->
        <munit:execution>
            <flow-ref name="exportDocsFlow"/>
        </munit:execution>
        <munit:validation>
            <munit-tools:assert-that expression="#[sizeOf(payload)]" is="#[MunitTools::equalTo(12)]"/>
        </munit:validation>
    </munit:test>
    <munit:test name="exportDocsCheckEmpNoTest" description="exportDocs Check Employee Number Test">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="exportDocsFlow"/>
        </munit:enable-flow-sources>
        <!--<munit:behavior/>-->
        <munit:execution>
            <flow-ref name="exportDocsFlow"/>
        </munit:execution>
        <munit:validation>
            <munit-tools:assert-that expression="#[payload[0].envelope.instance.employee.empNo >= 10000]" is="#[MunitTools::equalTo(true)]"/>
        </munit:validation>
    </munit:test>
    <!--<munit:test name="exportDocsCheckConfigTransform" description="exportDocs Check Configuration Transform">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="exportDocsFlow"/>
        </munit:enable-flow-sources>
        <!-\-<munit:behavior/>-\->
        <munit:execution>
            <flow-ref name="exportDocsFlow"/>
        </munit:execution>
        <munit:validation>
            <munit-tools:assert-that expression="#[payload[0].transformer]" is="#[MunitTools::equalTo('transformTestEgress')]"/>
        </munit:validation>
    </munit:test>-->
</mule>